@charset "UTF-8";



/* 全称セレクタ */
/* * {
    margin: 0;
    box-sizing: border-box;
} */


/* クラスセレクタ */
/* .box {
    width: 160px;
    height: 80px;
}

.box-1 {
    background: pink;
}

.box-2 {
    background: skyblue;
}

.box-3 {
    background: orange;
} */

/* idセレクタ */
/* #circle {
    width: 80px;
    height: 80px;
    background:  pink;
    border-radius: 50%;
} */

/* 属性セレクタ */
/* [target] {
    font-weight: bold;
}
[type="password"] {
    border: 8px solid red;
} */

/* 複合セレクタ */
/* div.box {
    color: rebeccapurple;
} */

/* セレクタリスト */
/* h1, 
p {
    color: rebeccapurple;
} */

/* 子要素 */
/* section > p {
    color: red;
} */

/* 子孫要素 */
/* section p {
    background: blue;
} */

/* 兄妹要素 */
/* li + li{
    border-top: 1px solid red;
} */


/* 疑似クラス */
/* 兄妹要素のうち3番目 */
/* li:nth-child(3n) {
    color: red;
} */

/* button:hover {
    font-weight: bold;
}

input:focus {
    border: 8px solid red;
}

button:active {
    border: 8px solid red;
} */

/* div:not(.box) {
    border: 1px solid red;
} */

/* 疑似要素 */
p::before {
    content: '-';
}

p::after {
    content: '-';
}