@charset "utf-8";

.container {
  border: 8px solid blue;
  height: 240px;
  display: flex;
  /* flex-wrap: wrap;
  gap: calc((280px - 80px * 3) / 2); */
  /* flex-direction: row; */
  /* justify-content: space-between;
  flex-direction: row-reverse; */
  /* align-items: center;
  justify-content: center; */
}

.item-1 {
  width: 80px;
  height: 80px;
  background-color: pink;
  /* align-self: center; */
}

.item-2 {
  width: 80px;
  height: 80px;
  background-color: skyblue;
  /* margin-left: auto; */
  order: 1;
}

.item-3 {
  width: 80px;
  height: 80px;
  background-color: orange;
}