@charset "utf-8";


body {
    margin: 0;
}

header {
    display: flex;
    border-bottom: 2px solid #eee;
}

header h1 {
    margin: 0 auto;
    line-height: 64px;
}


nav {
    margin-left: auto;
}

ul {
    list-style: none;
    display: flex;
    padding: 0;
    margin: 0;
}

a {
    display: block;
    width: 100px;
    line-height: 64px;
    text-align: center;
}
/* ------------------------------------------------------------------------------------ */

main img {
    border-radius: 50%;
}







/* ------------------------------------------------------------------------------------ */

footer {
  border-top: 2px solid #eee;
  text-align: center;
  padding: 16px 0;
}